$font: "Roboto", sans-serif;

$primary: #50a261;
$secondary: #1a1919;
$tertiary: #e2e4e0;

$text-primary: rgb(65, 65, 65);
$text-secondary: #9e9c9c;

$background: #f6fcfe;

$home: rgb(217, 235, 211);
$profile: rgb(201, 212, 138);
$wallet: rgb(212, 182, 138);
$dashboard: rgb(138, 212, 200);
